{% extends 'nav.html' %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center;}">
    <article style ="width:500px; ">
    <header style = "heigth:200px;">아이디
    <p>{{ click_user.username }}</p></header>
    <p>소개<p>
    <p> {{ click_user.bio }}</p>
    {% if show_my_board == True %}
    <footer>
        <a href="/mypage/profile_modify" class="card-link">[프로필 수정]</a>
    </footer>
    {% endif %}
    </article></div>
<details open><summary>내가 쓴 글</summary>
    
</div>
{% for board in board_list %}
<div name="글리스트">
  <div class="board-info">
    <mark>{{ board.author }}</mark>님이 작성한 글입니다.
  </div>
  <div class="board-content">
    <article style="width:500px;" onclick="location.href='{% url 'board_detail' board_id=board.board_id %}'">
      <div style="cursor: pointer; max-height:200px;">
        {% if board.img %}
        <img src=" {{ board.img.url }}" style="width:100px;height:100px;" alt="{{ board.img.url }}">
        {% endif %}
        <span class="text">
          {{ board.content }}
        </span>
      </div>
      <footer>
        <span style="float: left;"><i class="fa-solid fa-heart"></i>{{ board.likes_count }}</span>
        <span style="float: right;">{{ board.updated_at|timesince }} 전</span>
        <br>
      </footer>
    </article>
  </div>
</div>
{% endfor %}
{% comment %} {% else %}
<div name="글리스트">
  <div class="board-info">
    <div style="text-align: center;">
      추가한 게시글이 없습니다.
    </div>
  </div>
</div>
{% endif %} {% endcomment %}

{% endblock content %}
</details>