<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <nav>
        <div>
            <a href="/user/">Project</a>
            <form>
                <ul>
                    <li disabled>
                        <span>
                            {{ user.username }}님 반갑습니다!
                        </span>
                    </li>
                    <li>
                        <a href="/board/list"> 글목록</a>
                    </li>
                    <li>
                        <a href="/user/logout"> 로그아웃</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</body>
</html>