{% extends 'nav.html' %}
{% block content %}

<div class="container">
    <div class="flex-center">
        <article style="width:500px;">
            {% block title %}
                <h2 class="flex-center">작성</h2>
            {% endblock %}    
            <form action="/board/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <input type="text" id="title" name="title" placeholder="제목" required />
                <br>
                <input type="text" id="content" name="content" placeholder="내용" required />
                <br>
                <input type="file" name="img" id="img" accept="image/*" onchange="previewImage(this);">
                <br>
                <img id="preview" src="#" alt="Image preview" style="display:none; width:100px; max-height:100px;">
                <input type="submit" value="작성" />
            </form>
        </article>
    </div>
</div>
{% endblock content%}