{% extends 'nav.html' %}
{% block content %}

<div class="container">
    {% block title %}
    <h2 class="flex-center">작성</h2>
    {% endblock %}
    <div class="flex-center">
        <article style="width:500px;">
            <form action="/board/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea id="content" name="content" cols="30" rows="5" placeholder="내용" maxlength="200"
                    required></textarea>
                <br>
                <input type="file" name="img" id="img" accept="image/*" onchange="checkFileSize(this);">
                <br>
                <img id="preview" src="#" alt="Image preview" style="display:none; width:100px; max-height:100px;">
                <input type="submit" value="작성" />
            </form>
        </article>
    </div>
</div>
{% endblock content%}