<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Board</title>
</head>

<body>
{#    {% load method_override %}#}
<h1>게시판</h1>

<a href="/board/">작성하기</a>

{% for board in boards %}
    <article>
        <header>{{ board.title }}</header>
        {{ board.content }}
        <footer><p style="text-align:left">글쓴이: {{ board.user }}</p>
        <footer>작성 시간: {{ board.created_at|timesince }} 전
            <button onclick="location.href='{% url 'board_detail' board_id=board.board_id %}'">상세보기</button>

            {#            <form action="/board/{{ board.board_id }}/" method="POST">#}
            {#                {% csrf_token %}#}
            {##}
            {#                {% method_override 'DELETE' %}#}
            {#                <input type="submit" role="button" value="삭제">#}
            {#            </form>#}

        </footer>
    </article>
{% endfor %}

</body>

</html>