{% extends 'nav.html' %}
{% block content %}

<div class="container">
    <div class="flex-center">
        <article style="width:500px;">
            {% block title %}
            <h2 class="flex-center">수정</h2>
            {% endblock %}
            <form method="POST" action="{% url 'board_edit' board_id=board.board_id %}" enctype="multipart/form-data">
                {{ board.board_id }}
                {% csrf_token %}
                <label for="title">제목</label>
                <br>
                <input type="text" name="title" id="title" value="{{ board.title }}">
                <br>
                <label for="content">내용</label>
                <br>
                <textarea name="content" id="content">{{ board.content }}</textarea>
                <br>
                {% if board.img %}
                <img id="preview" src="{{ board.img.url }}" alt="Image preview" style="width:100px; max-height:100px;">
                <br>
                {% else %}
                <img id="preview" alt="Image preview" style="display:none; width:100px; max-height:100px;">
                <br>
                {% endif %}
                <input type="file" name="img" id="img" accept="image/*" onchange="previewImage(this);">
                <br>
                <button type="submit">수정완료</button>
            </form>
        </article>
    </div>
</div>