{% for board in boards %}
    <article>
      <header>{{ board.title }}</header>
      {% if board.img %}
        <img src="{{ board.img.url }}" width="100" alt="{{ board.img.url }}">
        <br>
      {% endif %}
      {{ board.content }}
      <footer>
        <p style="text-align:left">글쓴이:
          {{ board.author }}</p>
        작성 시간:
        {{ board.created_at|timesince }}
        전
        <button onclick="location.href='{% url 'board_detail' board_id=board.board_id %}'">상세보기</button>

      </footer>
    </article>
  {% endfor %}