<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Board</title>
</head>

<body>
    <h1>상세보기</h1>
    {% if request.user == board.user_id %}
    <form action="{% url 'board_edit' board_id=board.board_id %}" method="GET">
        {% csrf_token %}
        <h1>{{ board.title }}</h1>
        <br>
        <h2>{{ board.content }}</h2>
        {% if board.img %}
        <br>
        <img src="{{ board.img.url }}" width="100" alt="{{ board.img.url }}">
        {% endif %}
        <br>
        <input type="submit" role="button" value="수정">
    </form>

    {% load method_override %}
    <form action="/board/{{ board.board_id }}/" method="POST">
        {% csrf_token %}

        {% method_override 'DELETE' %}
        <input type="submit" role="button" value="삭제">
    </form>
    {% else %}
        <h1>{{ board.title }}</h1>
        <br>
        <h2>{{ board.content }}</h2>
        {% if board.img %}
        <br>
        <img src="{{ board.img.url }}" width="100" alt="{{ board.img.url }}">
        {% endif %}
    {% endif%}

</body>