{% extends 'nav.html' %}
{% block content %}

{% block title %}
<h2 class="flex-center">게시판</h2>
{% endblock %}

<div class="container2">
  <div class="board-list">123</div>
  <div class="board-list" style="width:600px;">

    {% for board in boards %}
    <div class="flex-center">
      <div class="board-main">
        <div class="board-info">
          <mark>{{ board.author }}</mark>님이 작성한 글입니다.
        </div>
        <div class="board-content" style="cursor: pointer;" onclick="goToDetail()">
          <article style="width:500px;">
            <header>{{ board.title }}</header>
            {% if board.img %}
            <img src=" {{ board.img.url }}" width="100" alt="{{ board.img.url }}">
            <br>
            {% endif %}
            {{ board.content }}
            <footer>
              작성 시간:
              {{ board.created_at|timesince }}
              전
              <button id="detailButton" onclick="location.href='{% url 'board_detail' board_id=board.board_id %}'"
                style="display: none;">상세보기</button>
            </footer>
          </article>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="board-list">321</div>
</div>
{% endblock content%}